.login-container {
    margin: 2rem auto;
    width: 60%;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    margin-top: 20px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    box-sizing: border-box;
  }
  
  .dropzone {
    border: 2px dashed #ccc;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1.6rem;
  }
  
  .error {
    border: 1px solid red;
  }
  
  .submit-button {
    margin-top: 1rem;
    background-color: #00d5fa;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #00a6c9;
  }
  
  .toggle-page {
    margin-top: 1rem;
    cursor: pointer;
    color: #00d5fa;
    transition: color 0.3s;
  }
  
  .toggle-page:hover {
    text-decoration: underline;
  }
  